.Sidebar {
    height: 100vh;
    min-width: 250px;
    background-color: #212A4D;
    color: #ffff;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid #0C1024;
    cursor: default;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
    flex: 1;
}

.SidebarList .Row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SidebarList .Row:hover {
    cursor: pointer;
    background-color: #0C1024;
}

.SidebarList .Active {
    background-color: #0C1024;
}

.Row .Icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.Row .Title {
    flex: 70%;
    display: grid;
    place-items: left;
}

.Logout {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logout:hover {
    cursor: pointer;
    background-color: #0C1024;
}

.Logout .Icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.Logout .Title {
    flex: 70%;
    display: grid;
    place-items: left;
}