.contentArea {
    background-color: #212A4D;
    min-height: 100vh
}

.pageTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #ffff;
}

.instructionArea {
    text-align: center;
    margin-bottom: 10px;
    color: #ffff;
    font-size: 1.5rem;
}

.webcamArea {
    text-align: center;
    padding: 20px;
    background-color: #000;
}

.buttonCaptureArea {
    text-align: center;
    padding: 10px;
}

.buttonCapture {
    padding: 10px;
    border: none;
    /* background-color: #FFFC00; */
    background-color: #00FF0A;
    width: 400px;
    font-size: 1.5rem;
    color: #212A4D;
    font-weight: 600;
}

.buttonCapture:hover {
    background-color: #27B230;
}

.buttonBack {
    padding: 3px;
    width: 400px;
    border: none;
    background-color: #FF0000;
    color: #ffff;
    font-size: 1rem;
}

.buttonBack:hover {
    background-color: #A82525;
}